@font-face {
    font-family: "Panda-font";
    src: local("Panda-font"), url("./font/River\ Adventurer.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "bamboo";
    src: local("Panda-font"), url("./font/BalsamiqSans-Regular.ttf") format("truetype");
    font-weight: normal;
}

.home {
    background-image: url("./background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.content-title {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #166534;
    text-transform: uppercase;
    text-shadow: 0.3px 0.5px 0.7px #0000004d, 0.8px 1.6px 2px #0000004d,
        2.1px 4.1px 5.2px #0000004d, 5px 10px 12.6px #0000004d;
}

.dashboard-title {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #166534;
    text-transform: uppercase;
}

.dashboard-title-red {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #651616;
    text-transform: uppercase;
}

.dashboard-title-yellow {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #606516;
    text-transform: uppercase;
}

.faq-content {
    box-shadow: 8px 8px #166534;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
